.header {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #000000, #2C3E50);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    color: white;
    gap: 20px;
}

.header-description {
    text-align: left;
    animation: wave 3s ease-in-out infinite alternate;
    background: linear-gradient(45deg, #ff0080, #00bfff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1 {
    font-size: 2.5rem;
    color: #2c3e50;
}

h1::after {
    content: '';
    width: 60px;
    height: 3px;
    background-color: #2965f1;
    display: block;
    margin: 1rem auto;
    border-radius: 2px;
}

@keyframes wave {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(10px);
    }

    75% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

.header-description h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.header-description p {
    font-size: 1rem;
    line-height: 1.6;
}

.profile-bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    max-height: 50vh;
    max-width: 50vh;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 212, 255, 0.4), 0 4px 40px rgba(0, 212, 255, 0.2);
    transition: box-shadow 0.4s ease, transform 0.4s ease;
}

.profile-bubble:hover {
    box-shadow: 0 8px 30px rgba(0, 212, 255, 0.8), 0 8px 60px rgba(0, 212, 255, 0.4);
    transform: scale(1.05);
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    filter: grayscale(100%);
    transition: filter 0.3s ease, transform 0.4s ease;
}

.profile-bubble:hover .profile-image {
    filter: grayscale(0%);
    transform: scale(1.1);
}


@media (max-width: 768px) {
    .header-content {
        width: 90%;
        flex-direction: column;
        align-items: center;
    }

    .header-description h1 {
        font-size: 2rem;
    }

    .header-description p {
        font-size: 0.9rem;
    }

    .profile-bubble {
        width: 40vw;
    }
}

@media (max-width: 480px) {
    .header-content {
        width: 95%;
        display: flex;
        gap: 20px;
    }

    .header-description h1 {
        font-size: 1.5rem;
    }

    .header-description p {
        font-size: 0.8rem;
    }

    .profile-bubble {
        width: 40vw;
    }
}